<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./header/mainheader", { title: "YouTube Dislikes" }); -%>
    </head>
    <body>
        <%- include("./navbar/navbar", { page: "/run" }); -%>

        <div class="container">
            <br>
            <h1>Updating videos...</h1>
            <p class="lead">This may take some time based on how many videos you selected.</p>
        </div>
    </body>
</html>